/* BASE */
html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

/* VARIABLES */
:root {
  --red: #ff6f69;
}

/* MEDIA CATCH ALL */
img, embed, object, video {
  max-width: 100%;
}

body {
  background: #f0f8ff;
}

main {
  margin: 2rem 10%;
}

.airplane__functions {
  display: flex;
  justify-content: space-around;
}

.airplane__container {
  display: grid;
  margin: 2rem 1.5rem;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.airplane__container-airplane {
  padding: 0.5rem;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(97,88,51,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(97,88,51,1);
  box-shadow: 0px 0px 5px 1px rgba(97,88,51,1);
  border-radius: 10px;
}

.crew__list-item {
  text-transform: capitalize;
}

.good {
  color: darkgreen;
  font-weight: bold;
}

.bad {
  color: darkred;
  font-weight: bold;
}